table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  color: #333;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
