.container {
    max-width: 1000px;
    margin:auto;
}

header {
    display: flex;
}

.logo {
    float:left;
}

.contenedorMenuCabecera {
    float:left;
}

.menuCabecera {
    display: flex;
    flex-wrap: nowrap;
    padding-top:40px;
}

.menuCabecera li{
    list-style-type: none;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
}

.txtBuscador{
    float: right;
    height:30px;
    margin-top:50px;
    width: 70px;
}

nav {
    background-color: #ddd;
}

.menuNav {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;  
}

.menuNav li{
    list-style-type: none;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 13px;
    white-space: nowrap;
}
main {
    background-image: url(banneria.jpg);
    background-repeat: no-repeat;
    width:1000px;
    height:500px;
}

h7 {
  font-size: 10px;
  text-transform: uppercase; 
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  display:block;
  padding-top: 50px; 
  padding-left: 50px;
}

h2 {
    font-size: 43px;
    color: #f37021;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 400px;
    margin-left:50px;
    font-weight: bold;
}

.botonLeerMas {
    background-color: black;
    color: white;
    border-color: white;
    border-width: 1px;
    padding: 5px;
    margin-left:50px;
}

